@charset "utf-8";

/*--------------------------------------------------------------------------------------------------

   common
			   - header
						- nav
						- textNavi
						- bnr
						- footer
						- pagetop
						- second

--------------------------------------------------------------------------------------------------*/


/*reset-------------------------------------------------*/
body,div,h1,h2,h3,h4,h5,h6,p,dl,dt,dd {
	margin: 0;
	padding: 0;
}

table {
 border-collapse: collapse;
	border-spacing: 0;
}

img {
	border: none;
	vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

header,section,article,aside,footer,nav {
 display: block;
}

/*-------------------------------------------------reset*/


/*common-------------------------------------------------*/
body {
	margin: 0;
	padding: 0;
	color: #000000;
	font-size: 12px;
	font-family: "ＭＳ Ｐゴシック", "MS P Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	line-height: 1.4;
	min-width: 950px;
}

a:link {
	color: #0059B2;
}

a:visited {
	color: #1C65AA;
}

a:hover, a:active {
	color: #4CA5E5;
}

.clear:after {
 content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clear {
 display: inline-table;
 overflow: hidden;
}

/* mac \*/
* html .clear {
 height: 1%;
}
.clear {
 display: block;
}
/* macend */

.alignleft {
	float: left;
	margin: 0 10px 10px 0;
}

.alignright {
	float: right;
	margin: 0 0 10px 10px;
}

.aligncenter {
	display: block;
	margin: 0 auto;
}

/*-------------------------------------------------common*/



/*------------------------------------------------------------------------------------------------
  header_top
--------------------------------------------------------------------------------------------------*/
#header_top {
	width: 100%;
	height: 40px;
	background: #F1F1F1;
	border-bottom: 1px solid #ddd;
	font-size: 12px;
}
#header_top .ht_wrap {
	width: 960px;
	margin: 0 auto;
}
	#header_top .ht_wrap .ht_text {
		float: left;
		width: 403px;
		padding: 12px 0;
	}
	#header_top .ht_wrap .ht_search {
		float: left;
		width: 323px;
		padding: 7px 0;
	}
		#header_top .ht_wrap .ht_search img {
			padding: 7px 3px 0 0;
		}
		#header_top .ht_wrap .ht_search form {
			display: inline-block;
		}
		#header_top .ht_wrap .ht_search input[type=text] {
			width: 180px;
			height: 21px;
		}
		#header_top .ht_wrap .ht_search .btn_submit {
			cursor: pointer;
			display: inline-block;
			width: 26px;
			height: 27px;
			border: none;
			text-indent: -9999px;
			background: url(../image/btn_search.png) no-repeat 0 0;
		}
	#header_top .ht_wrap .ht_fsize {
		float: left;
		width: 233px;
	}
	#header_top .ht_wrap .ht_fsize .ht_fsize_title {
		padding: 14px 3px 0 0;
	}
	#header_top .ht_wrap .ht_fsize a img {
		padding: 8px 0 0 2px;
	}


/*------------------------------------------------------------------------------------------------
  header
--------------------------------------------------------------------------------------------------*/
header {
	position: relative;
	width: 950px;
	height: 95px;
	margin: 0 auto;
}

header h1, header p.logo {
	position: absolute;
	top: 35px;
	left: 7px;
	text-indent: -9999px;
}

header h1 a, header p.logo a {
	display: block;
	width: 310px;
	height: 25px;
	background: url(../image/logo.jpg) no-repeat 0 0;
	overflow: hidden;
}
	header .h_inq_btn {
		position: absolute;
		top: 36px;
		right: 236px;
	}
		header .h_inq_btn a:hover {
			opacity: 0.6;
			filter: alpha(opacity=60);
			-moz-opacity: 0.6;
		}
	header .h_tel {
		position: absolute;
		top: 25px;
		right: 14px;
	}

header .search {
	position: absolute;
	top: 46px;
	right: 0;
	padding: 5px;
	background-color: #E8E8E8;
}

header .search table th {
	padding-right: 5px;
	color: #545454;
	font-weight: normal;
}

header .search table td {
	background-color: #FFFFFF;
	border: 1px solid #D5D5D5;
}

header .search table td input.word {
	width: 195px;
	border: none;
}

header .search table td input.wordBtn {
	vertical-align: middle;
}

header p.lang a {
	position: absolute;
	top: 20px;
	right: 0;
	padding: 0 0 0 14px;
	font-size: 14px;
	background: url(../image/arrow-01.png) no-repeat 0 4px;
	text-decoration: none;
	color: #000000;
	letter-spacing: 1px;
}


/*------------------------------------------------------------------------------------------------
  nav
--------------------------------------------------------------------------------------------------*/
nav {
	height: 70px;
	background: url(../image/gnavi_back.jpg) repeat-x 0 0;
}

nav ul {
	width: 952px;
	margin: 0 auto;
	padding: 0;
	background: url(../image/gnavi.jpg) no-repeat 0 0;
	list-style: none;
}

nav ul li {
	float: left;
	margin: 0;
	padding: 0;
	text-indent: -9999px;
}

nav ul li a {
	display: block;
	height: 70px;
	overflow: hidden;
}

nav ul li#nav01 a:link, nav ul li#nav01 a:visited {
	width: 191px;
	background: url(../image/gnavi.jpg) no-repeat 0 0;
}

nav ul li#nav01 a:hover, nav ul li#nav01 a:active,  nav ul li#nav01 a.now {
	background: url(../image/gnavi.jpg) no-repeat 0 -70px;
}

nav ul li#nav02 a:link, nav ul li#nav02 a:visited {
	width: 190px;
	background: url(../image/gnavi.jpg) no-repeat -191px 0;
}

nav ul li#nav02 a:hover, nav ul li#nav02 a:active,  nav ul li#nav02 a.now {
	background: url(../image/gnavi.jpg) no-repeat -191px -70px;
}

nav ul li#nav03 a:link, nav ul li#nav03 a:visited {
	width: 190px;
	background: url(../image/gnavi.jpg) no-repeat -381px 0;
}

nav ul li#nav03 a:hover, nav ul li#nav03 a:active,  nav ul li#nav03 a.now {
	background: url(../image/gnavi.jpg) no-repeat -381px -70px;
}

nav ul li#nav04 a:link, nav ul li#nav04 a:visited {
	width: 190px;
	background: url(../image/gnavi.jpg) no-repeat -571px 0;
}

nav ul li#nav04 a:hover, nav ul li#nav04 a:active,  nav ul li#nav04 a.now {
	background: url(../image/gnavi.jpg) no-repeat -571px -70px;
}

nav ul li#nav05 a:link, nav ul li#nav05 a:visited {
	width: 190px;
	background: url(../image/gnavi.jpg) no-repeat -761px 0;
}

nav ul li#nav05 a:hover, nav ul li#nav05 a:active,  nav ul li#nav05 a.now {
	background: url(../image/gnavi.jpg) no-repeat -761px -70px;
}


/*------------------------------------------------------------------------------------------------
  bnr
--------------------------------------------------------------------------------------------------*/
.bnr {
	margin: 0;
	padding: 0;
	list-style: none;	
}

.bnr li {
	margin: 0 0 10px;
	padding: 0;
}


/*------------------------------------------------------------------------------------------------
  textNavi
--------------------------------------------------------------------------------------------------*/
#textNavi {
	background-color: #E8E8E8;
	font-size: 12px;
}

#textNavi div {
	position: relative;
	width: 950px;
	height: 48px;
	margin: 0 auto;
	line-height: 48px;
}

#textNavi div p.main {
	display: block;
	margin: 0 auto;
	text-align: center;
}

#textNavi div p.sub {
	position: absolute;
	top: 0;
	right: 0;
}

#textNavi div p.sub a {
	margin: 0 0 0 16px;
	padding: 0 0 0 8px;
	background: url(../image/arrow-04.png) no-repeat 0 center;
}

#textNavi div a:link, #textNavi div a:visited {
	color: #312B2B;
	text-decoration: none;
}

#textNavi div a:hover, #textNavi div a:active {
	text-decoration: underline;
}


/*------------------------------------------------------------------------------------------------
  footer
--------------------------------------------------------------------------------------------------*/
#footer {
	background-color: #555555;
	font-size: 12px;
}

#footer div {
	position: relative;
	width: 950px;
	height: 124px;
	margin: 0 auto;
	color: #FFFFFF;
}
	
#footer div p.address {
	position: absolute;
	top: 10px;
	left: 0;
}

#footer div p.copy {
	position: absolute;
	top: 10px;
	right: 0;
	letter-spacing: 1px;
}


/*------------------------------------------------------------------------------------------------
  pagetop
--------------------------------------------------------------------------------------------------*/
#pagetop {
	position: fixed;
	bottom: 0;
	right: 20px;
}


/*------------------------------------------------------------------------------------------------
  second
--------------------------------------------------------------------------------------------------*/
#breadcrumbs {
	background: #F1F1F1;
	border-bottom: 1px solid #ddd;
	font-size: 12px;
}
.pan {
	width: 950px;
	margin: 0 auto;
	padding: 8px 0;
	list-style: none;
}

.pan li {
	float: left;
	margin: 0;
	padding: 0 3px 0 0;
}

.pan li a {
	margin: 0 5px 0 0;
}

#second {
	width: 950px;
	margin: 0 auto;
	padding: 0 0 10px;	
}

/*column-------------------------------------------------*/
#column {
	float: right;
	width: 732px;
}

#column h1 {
	margin: 0 0 20px;
}

#column h2 {
	margin: 0 0 10px;
	padding: 0 25px;
	background: url(../image/h2_back.gif) no-repeat 0 0;
	line-height: 85px;
	font-size: 20px;
	font-weight: bold;
}

#column h3 {
	margin: 0 0 30px;
	padding: 0 12px;
	border-left: 3px solid #555555;
	background-color: #EEEEEE;
	font-size: 14px;
	font-weight: bold;
	line-height: 49px;
}

/*leftColumn-------------------------------------------------*/
#leftColumn {
	float: left;
	width: 200px;
}

.subMenu {
	margin: 0 0 10px;
	padding: 5px;
/*	background-color: #EEEEEE;*/
	font-size: 14px;
}

.tab{overflow:hidden;}
.tab li{background:#ccc; padding:0; float:left; margin-right:1px; cursor:pointer; }
/*.tab li.select{background:#eee;}
.tab_content li{background:#eee; padding: 0;}*/
.hide {display:none;}


.subMenu p {
	margin: 0 0 5px;
}

.subMenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* sub_rental */
.subMenu ul.sub_rental {
	padding: 10px 5px 5px;
	border-top: 4px solid #113C7A;
	background: #D6E4FA;
}

.subMenu ul.sub_rental li {
	margin: 0;
	padding: 0;
}

.subMenu ul.sub_rental li a {
	display: block;
	padding: 8px 8px 8px 25px;
	background: url(../image/sub_rental_plus.png) #FFFFFF no-repeat 7px center;
	border-bottom: 1px solid #CCCCCC;
	text-decoration: none;
	color: #333;
}
.subMenu ul.sub_rental li a.now {
	display: block;
	padding: 8px 8px 8px 25px;
	background: url(../image/sub_rental_minus.png) #FFFFFF no-repeat 7px center;
	border-bottom: 1px solid #CCCCCC;
	text-decoration: none;
	color: #1C65AA;
}


.subMenu ul.sub_rental li ul {
	display: none;
/*	margin: 0 10px 10px;*/
}

.subMenu ul.sub_rental li ul li a {
	padding: 5px 5px 5px 25px;
	border: 1px solid #ccc;
	background: url(../image/sub_rental_arrow.png) no-repeat 5px center;
	text-decoration: none;
	color: #333;
}
.subMenu ul.sub_rental li ul li a:hover {
	padding: 5px 5px 5px 25px;
	border: 1px solid #ccc;
	background: url(../image/sub_rental_arrow.png) #ffffff no-repeat 5px center;
	text-decoration: underline;
	color: #1C65AA;
}


/* sub_products */
.subMenu ul.sub_products {
	padding: 10px 5px 5px;
	border-top: 4px solid #641C1A;
	background: #F5E9E8;
}

.subMenu ul.sub_products li {
	margin: 0;
	padding: 0;
}

.subMenu ul.sub_products li a {
	display: block;
	padding: 8px 8px 8px 25px;
	background: url(../image/sub_products_plus.png) #FFFFFF no-repeat 7px center;
	border-bottom: 1px solid #CCCCCC;
	text-decoration: none;
	color: #333;
}
.subMenu ul.sub_products li a.now {
	display: block;
	padding: 8px 8px 8px 25px;
	background: url(../image/sub_products_minus.png) #FFFFFF no-repeat 7px center;
	border-bottom: 1px solid #CCCCCC;
	text-decoration: none;
	color: #731715;
}


.subMenu ul.sub_products li ul {
	display: none;
/*	margin: 0 10px 10px;*/
}

.subMenu ul.sub_products li ul li a {
	padding: 5px 5px 5px 25px;
	border: 1px solid #ccc;
	background: url(../image/sub_products_arrow.png) no-repeat 5px center;
	text-decoration: none;
	color: #333;
}
.subMenu ul.sub_products li ul li a:hover {
	padding: 5px 5px 5px 25px;
	border: 1px solid #ccc;
	background: url(../image/sub_products_arrow.png) #ffffff no-repeat 5px center;
	text-decoration: underline;
	color: #731715;
}
/* --- */

	
.sideListSc {
	background-color: #EAE9E9;
}

.sideListSc ul {
	width: 190px;
	margin: 0 auto 20px;
	padding: 0 0 5px;
	list-style: none;
}

.sideListSc ul li {
	margin: 0;
	padding: 5px 0 0;
}



/*------------------------------------------------------------------------------------------------
  sub_info
--------------------------------------------------------------------------------------------------*/

.sub_info {
	position: relative;
	width: 222px;
	height: 167px;
	padding: 5px 0 0;
	margin: 0 auto;
	background: url(../image/sub_info.png) no-repeat top center;
}
	.sub_info a {
		position: absolute;
		bottom: 15px;
		left: 20px;
	}
	.sub_info a:hover {
		opacity: 0.6;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
	}
