@charset "utf-8";

/*--------------------------------------------------------------------------------------------------

   page
			   - index
						- products

--------------------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------------------
  index
--------------------------------------------------------------------------------------------------*/
#topimage {
	width: 675px;
	margin: 9px auto 28px;
}

.bxslider {
	margin: 0;
	padding: 0;
	list-style: none;
}

.bxslider li {
	display: none;
	margin: 0;
	padding: 0;
}

.bxslider li.first {
	display: block;
}

#index {
	width: 950px;
	margin: 0 auto;
}

#index #topLeft {
	float: left;
	width: 686px;
	padding: 0 0 10px;
}

#index #topLeft h2 {
	position: relative;
	width: 686px;
	height: 46px;
	padding: 0 0 6px;
}


/* top rental */
#index #topLeft h2.rental {
	border-bottom: 2px solid #1C65AA;
}

#index #topLeft h2.rental span {
	position: absolute;
	top: 7px;
	left: 0;
	text-indent: -9999px;
	background: url(../image/top_rental_title.png) no-repeat 0 0;
	width: 209px;
	height: 33px;
}
	#index #topLeft h2.rental span.rental_btn {
		position: absolute;
		top: 5px;
		left: 520px;
		text-indent: 0;
		background: none;
	}
	#index #topLeft h2.rental span.rental_btn a:hover {
		opacity: 0.6;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
	}

.rentalList {
	margin: 0 0 20px;
	padding: 10px 0 0;
	background: #DDD;
}

.rentalList div.listFrame {
	float: left;
	width: 211px;
	height: auto;
	margin: 0 0 10px 10px;
	border: 2px solid #D6D6D6;
	font-size: 14px;
}

.rentalList div.listFrame .listTitle {
	height: auto;
	padding: 7px 3px;
	background: #1C65AA;
	border: none;
	text-align: center;
	color: #fff;
}
.rentalList div.listFrame .listImg {
	height: auto;
	padding: 5px;
	border: none;
	text-align: center;
}
	.rentalList div.listFrame .listImg img {
		max-width: 100%;
		height: auto;
	}

.rentalList div.listFrame .listName {
	height: auto;
	padding: 5px;
	background: #D4E1ED;
	border: none;
/*	text-align: center;*/
}
	.rentalList div.listFrame .listName .ln_cat {
		font-size: 12px;
	}
	.rentalList div.listFrame .listName .ln_name {
		font-weight: bold;
	}
	
.rentalList div.listFrame .listDetail {
	height: auto;
	padding: 5px;
	border: none;
	font-size: 12px;
	color: #BF2722;
}

	.rentalList a:link div.listFrame, .rentalList a:visited div.listFrame {
		color: #333333;
		text-decoration: none;
		background: #FFF;
	}
	
	.rentalList a:hover div.listFrame, .rentalList a:active div.listFrame {
		background: #E4F1FD;
/*		text-decoration: underline;*/
	}
	
	
/* top products */
#index #topLeft h2.products {
	border-bottom: 2px solid #C02823;
}

#index #topLeft h2.products span {
	position: absolute;
	top: 7px;
	left: 0;
	text-indent: -9999px;
	background: url(../image/top_products_title.png) no-repeat 0 0;
	width: 209px;
	height: 33px;
}
	#index #topLeft h2.products span.products_btn {
		position: absolute;
		top: 5px;
		left: 516px;
		text-indent: 0;
		background: none;
	}
	#index #topLeft h2.products span.products_btn a:hover {
		opacity: 0.6;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
	}

.productsList {
	margin: 0 0 20px;
	padding: 10px 0 0;
	background: #DDD;
}

.productsList div.listFrame {
	float: left;
	width: 211px;
	height: auto;
	margin: 0 0 10px 10px;
	border: 2px solid #D6D6D6;
	font-size: 14px;
}

.productsList div.listFrame .listTitle {
	height: auto;
	padding: 7px 3px;
	background: #C02823;
	border: none;
	text-align: center;
	color: #fff;
}
.productsList div.listFrame .listImg {
	height: auto;
	padding: 5px;
	border: none;
	text-align: center;
}
	.productsList div.listFrame .listImg img {
		max-width: 100%;
		height: auto;
	}

.productsList div.listFrame .listName {
	height: auto;
	padding: 5px;
	background: #F6E6E6;
	border: none;
/*	text-align: center;*/
}
	.productsList div.listFrame .listName .ln_cat {
		font-size: 12px;
	}
	.productsList div.listFrame .listName .ln_name {
		font-weight: bold;
	}
	
.productsList div.listFrame .listDetail {
	height: auto;
	padding: 5px;
	border: none;
	font-size: 12px;
	color: #BF2722;
}

	.productsList a:link div.listFrame, .productsList a:visited div.listFrame {
		color: #333333;
		text-decoration: none;
		background: #FFF;
	}
	
	.productsList a:hover div.listFrame, .productsList a:active div.listFrame {
		background: #FEE;
/*		text-decoration: underline;*/
	}



/*右*/
#index #topRight {
	float: right;
	width: 252px;
	padding: 10px 0 10px;
}

#index #topRight h2 {
	position: relative;
	width: 240px;
	height: 46px;
	padding: 0 0 6px;
	background: url(../image/top_title_back.gif) repeat-x 0 0;
}

.sideList {
	background-color: #EAE9E9;
}

.sideList ul {
	width: 230px;
	margin: 0 auto 20px;
	padding: 0 0 5px;
	list-style: none;
}

.sideList ul li {
	margin: 0;
	padding: 5px 0 0;
}

/*------------------------------------------------------------------------------------------------
  [ detail ] .inqInput
--------------------------------------------------------------------------------------------------*/
table {
 border-collapse: collapse;
	border-spacing: 0;
}
.inqInput table {
	width: 688px;
	margin: 0 0 20px;
	border: 1px solid #D5D5D5;
}
.inqInput table th {
	padding: 8px 10px;
	text-align: center;
	background-color: #EEE;
	font-weight: normal;
	border: 1px solid #D5D5D5;
}
.inqInput table td {
	padding: 8px 10px;
	text-align: left;
	background-color: #FFF;
	font-weight: normal;
	border: 1px solid #D5D5D5;
}
.inqInput2 table {
	width: 688px;
	margin: 0 0 20px;
	border: 1px solid #D5D5D5;
}
.inqInput2 table th {
	padding: 8px 10px;
	text-align: left;
	font-weight: normal;
	border: 1px solid #D5D5D5;
	border-right: 5px solid #1F58A5;
}
.inqInput2 table td {
	padding: 8px 10px;
	text-align: right;
	background-color: #FFF;
	font-weight: normal;
	border: 1px solid #D5D5D5;
}


/*------------------------------------------------------------------------------------------------
  [ detail ] .dtl_left / .dtl_right
--------------------------------------------------------------------------------------------------*/
.dtl_left {
	float: left;
	width: 346px;
}

.dtl_right {
	float: left;
	width: 339px;
}


/*------------------------------------------------------------------------------------------------
  rental
--------------------------------------------------------------------------------------------------*/
#rental {}

#rental #index h2 {
	position: relative;
	display: block;
	width: auto;
	height: auto;
	padding: 0 0 10px;
	margin: 20px 0;
	border-bottom: 1px solid #AAAAAA;
	font-size: 26px;
	color: #222;
}
	#rental #index .h2_title {
		display: block;
		padding: 20px;
		border-left: 11px solid #1F58A5;
	}
#rental .h3_title {
	display: block;
	padding: 20px;
	margin: 0 0 20px;
	background: #fff;
	border: 1px solid #C9C9CB;
	border-left: 11px solid #1F58A5;
	font-size: 16px;
	font-weight: bold;
	color: #333;
}

/* #rental .rentalList */
#rental .rentalList {
	margin: 0 0 20px;
	padding: 10px 0 0;
	background: #fff;
}

#rental .rentalList div.listFrame {
	float: left;
	width: 211px;
	height: auto;
	margin: 0 0 10px 10px;
	border: none;
	font-size: 14px;
}

#rental .rentalList div.listFrame .listImg {
	height: auto;
	padding: 5px;
	border: 1px solid #D6D6D6;
	text-align: center;
}
	#rental .rentalList div.listFrame .listImg img {
		max-width: 100%;
		height: auto;
	}

#rental .rentalList div.listFrame .listName {
	height: auto;
	padding: 5px;
	margin-top: 5px;
	background: #EAEDF7;
	border: none;
	text-align: center;
}
	#rental .rentalList div.listFrame .listName .ln_cat {
		font-size: 12px;
	}
	#rental .rentalList div.listFrame .listName .ln_name {
/*		font-weight: bold;*/
		font-weight: normal;
		text-decoration: underline;
	}
	

	#rental .rentalList a:link div.listFrame,
	#rental .rentalList a:visited div.listFrame {
		color: #333333;
		text-decoration: none;
		background: #FFF;
	}
	
	#rental .rentalList a:hover div.listFrame,
	#rental .rentalList a:active div.listFrame {
		background: #E4F1FD;
/*		text-decoration: underline;*/
	}

#rental .subMenu .sub_title {
	border: 1px solid #ccc;
	padding: 8px 5px 5px;
}


/*------------------------------------------------------------------------------------------------
  rental detail
--------------------------------------------------------------------------------------------------*/
#rental {}

#rental .rentalDetail { font-size: 12px; }


/* left */
#rental .dtlImg1 {
	width: 320px;
	margin: 0 0 10px;
	border: 1px solid #CCC;
	text-align: center;
}
	#rental .dtlImg1 img { max-width: 100%; }
#rental .dtlImg2 {
	width: 320px;
	margin: 0 0 20px;
	border: 1px solid #CCC;
	text-align: center;
}
	#rental .dtlImg2 img { max-width: 100%; }
	

/* right */
#rental .dtlName {
	height: auto;
	padding: 5px 10px 10px;
	margin-top: 5px;
	border-left: 5px solid #1F58A5;
}
	#rental .dtlName .dn_cat {
		display: block;
		font-size: 14px;
	}
	#rental .dtlName .dn_name {
		display: block;
		font-size: 26px;
/*		font-weight: bold;*/
		font-weight: normal;
		text-decoration: none;
	}
	#rental .dtlName .dn_notice {
		display: block;
		padding: 5px 0 0;
		font-size: 14px;
		color: #C02823;
	}
#rental .dtlHr {
	width: 100%;
	height: 10px;
	border-bottom: 1px dotted #AAA;
}
#rental .dtlText {
	width: 100%;
}
	#rental .dtlText .dt_text {
		padding: 15px 10px 20px;
	}

#rental .dtlSet {
	width: 100%;
}
	#rental .dtlSet .ds_title {
		border-bottom: 1px solid #E7E7E7;
	}
		#rental .dtlSet .ds_title span {
			display: block;
			height: auto;
			padding: 4px 8px 4px;
			margin-bottom: 5px;
			border-left: 5px solid #1F58A5;
			font-weight: bold;
		}
	#rental .dtlSet .ds_text {
		width: 100%;
		padding: 10px 10px 10px;
	}
	
#rental .dtlNotes {
	width: 100%;
	margin: 0 0 20px;
	background: #E7E7E7;
}
	#rental .dtlNotes .dn_text {
		padding: 10px;
	}


#rental .dtlInq {
	position: relative;
	width: 645px;
	min-height: 25px;
	padding: 25px 0 15px 40px;
	margin: 0 0 20px;
	background: #F9F9F9;
	border: 1px solid #CCC;
	font-size: 14px;
}
#rental .dtlInq .di_inq_btn {
	position: absolute;
	top: 15px;
	right: 53px;
}
	#rental .dtlInq .di_inq_btn a:hover {
		opacity: 0.6;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
	}


/*------------------------------------------------------------------------------------------------
  products
--------------------------------------------------------------------------------------------------*/
#products {}

#products #index h2 {
	position: relative;
	display: block;
	width: auto;
	height: auto;
	padding: 0 0 10px;
	margin: 20px 0;
	border-bottom: 1px solid #AAAAAA;
	font-size: 26px;
	color: #222;
}
	#products #index .h2_title {
		display: block;
		padding: 20px;
		border-left: 11px solid #C02823;
	}
#products .h3_title {
	display: block;
	padding: 20px;
	margin: 0 0 20px;
	background: #fff;
	border: 1px solid #C9C9CB;
	border-left: 11px solid #C02823;
	font-size: 16px;
	font-weight: bold;
	color: #333;
}
#products #index h4 {
	position: relative;
	display: block;
	width: auto;
	height: auto;
	padding: 0 0 7px;
	margin: 20px 0;
	border-bottom: 1px solid #AAAAAA;
	font-size: 14px;
	font-weight: bold;
	color: #222;
}
	#products #index .h4_title {
		display: block;
		padding: 6px 10px 4px;
		border-left: 5px solid #C02823;
	}



/* #products .productsList */
#products .productsList {
	margin: 0 0 20px;
	padding: 10px 0 0;
	background: #fff;
}

#products .productsList div.listFrame {
	float: left;
	width: 211px;
	height: auto;
	margin: 0 0 10px 10px;
	border: none;
	font-size: 14px;
}

#products .productsList div.listFrame .listImg {
	height: auto;
	padding: 5px;
	border: 1px solid #D6D6D6;
	text-align: center;
}
	#products .productsList div.listFrame .listImg img {
		max-width: 100%;
		height: auto;
	}

#products .productsList div.listFrame .listName {
	height: auto;
	padding: 5px;
	margin-top: 5px;
	background: #F6E6E6;
	border: none;
	text-align: center;
}
	#products .productsList div.listFrame .listName .ln_cat {
		font-size: 12px;
	}
	#products .productsList div.listFrame .listName .ln_name {
/*		font-weight: bold;*/
		font-weight: normal;
		text-decoration: underline;
	}
	

	#products .productsList a:link div.listFrame,
	#products .productsList a:visited div.listFrame {
		color: #333333;
		text-decoration: none;
		background: #FFF;
	}
	
	#products .productsList a:hover div.listFrame,
	#products .productsList a:active div.listFrame {
		background: #FEE;
/*		text-decoration: underline;*/
	}

#products .subMenu .sub_title {
	border: 1px solid #ccc;
	padding: 8px 5px 5px;
}


/*------------------------------------------------------------------------------------------------
  products detail
--------------------------------------------------------------------------------------------------*/
#products {}

#products .productsDetail { font-size: 12px; }


/* left */
#products .dtlImg1 {
	width: 320px;
	margin: 0 0 10px;
	border: 1px solid #CCC;
	text-align: center;
}
	#products .dtlImg1 img { max-width: 100%; }
#products .dtlImg2 {
	width: 320px;
	margin: 0 0 20px;
	border: 1px solid #CCC;
	text-align: center;
}
	#products .dtlImg2 img { max-width: 100%; }
	

/* right */
#products .dtlName {
	height: auto;
	padding: 5px 10px 10px;
	margin-top: 5px;
	border-left: 5px solid #C02823;
}
	#products .dtlName .dn_cat {
		display: block;
		font-size: 14px;
	}
	#products .dtlName .dn_name {
		display: block;
		font-size: 26px;
/*		font-weight: bold;*/
		font-weight: normal;
		text-decoration: none;
	}
	#products .dtlName .dn_notice {
		display: block;
		padding: 5px 0 0;
		font-size: 14px;
		color: #C02823;
	}
#products .dtlHr {
	width: 100%;
	height: 10px;
	border-bottom: 1px dotted #AAA;
}
#products .dtlText {
	width: 100%;
}
	#products .dtlText .dt_text {
		padding: 15px 10px 20px;
	}

#products .dtlPrice {
	width: 100%;
	margin: 0 0 20px;
	background: #FCF4F4;
}
	#products .dtlPrice .dp_price {
		padding: 10px 10px 0;
		font-size: 22px;
		text-align: right;
	}
		#products .dtlPrice .dp_price span {
			font-size: 12px;
		}
	#products .dtlPrice .dp_caption {
		padding: 10px;
	}


#products .dtlSet {
	width: 100%;
}
	#products .dtlSet .ds_title {
		border-bottom: 1px solid #E7E7E7;
	}
		#products .dtlSet .ds_title span {
			display: block;
			height: auto;
			padding: 4px 8px 4px;
			margin-bottom: 5px;
			border-left: 5px solid #C02823;
			font-weight: bold;
		}
	#products .dtlSet .ds_text {
		width: 100%;
		padding: 10px 10px 10px;
	}
	
#products .dtlNotes {
	width: 100%;
	margin: 0 0 20px;
	background: #E7E7E7;
}
	#products .dtlNotes .dn_text {
		padding: 10px;
	}


#products .dtlInq {
	position: relative;
	width: 645px;
	min-height: 25px;
	padding: 25px 0 15px 40px;
	margin: 0 0 20px;
	background: #F9F9F9;
	border: 1px solid #CCC;
	font-size: 14px;
}
#products .dtlInq .di_inq_btn {
	position: absolute;
	top: 15px;
	right: 53px;
}
	#products .dtlInq .di_inq_btn a:hover {
		opacity: 0.6;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
	}



/*------------------------------------------------------------------------------------------------
  maker
--------------------------------------------------------------------------------------------------*/
#maker {}

#maker #index h2 {
	position: relative;
	display: block;
	width: auto;
	height: auto;
	padding: 0 0 10px;
	margin: 20px 0;
	border-bottom: 1px solid #AAAAAA;
	font-size: 26px;
	color: #222;
}
	#maker #index .h2_title {
		display: block;
		padding: 20px;
		border-left: 11px solid #3A3A3A;
	}
#maker .h3_title {
	display: block;
	padding: 20px;
	margin: 0 0 20px;
	background: #fff;
	border: 1px solid #C9C9CB;
	border-left: 11px solid #3A3A3A;
	font-size: 16px;
	font-weight: bold;
	color: #333;
}

/* brand_maker_list */
#maker .asset-body {
	font-size: 14px;
}
	#maker .asset-body table#brand_maker_list {
		width: 100%;
	}
		#maker .asset-body table#brand_maker_list tr td {
			padding: 20px;
			border-bottom: 1px solid #E7E7E7;
		}
			#maker .asset-body table#brand_maker_list tr td a {
				text-decoration: none;
			}
			#maker .asset-body table#brand_maker_list tr td a:hover {
				text-decoration: underline;
			}

	#maker .asset-body .specify-shop {
		color: #f00;
		font-weight: bold;
	}


/*------------------------------------------------------------------------------------------------
  company
--------------------------------------------------------------------------------------------------*/
#company {}

#company #index h2 {
	position: relative;
	display: block;
	width: auto;
	height: auto;
	padding: 0 0 10px;
	margin: 20px 0;
	border-bottom: 1px solid #AAAAAA;
	font-size: 26px;
	color: #222;
}
	#company #index .h2_title {
		display: block;
		padding: 20px;
		border-left: 11px solid #3A3A3A;
	}
#company .h3_title {
	display: block;
	padding: 20px;
	margin: 0 0 20px;
	background: #fff;
	border: 1px solid #C9C9CB;
	border-left: 11px solid #3A3A3A;
	font-size: 16px;
	font-weight: bold;
	color: #333;
}

#company .asset-body {
	font-size: 14px;
}

#company .asset-body .company_img img {
	width: 100%;
	height: auto;
}
#company .asset-body table#company_profile {
	width: 100%;
}
#company .asset-body table#company_profile tr th,
#company .asset-body table#company_profile tr td {
	padding: 20px;
	border-bottom: 1px solid #E7E7E7;
}
#company .asset-body table#company_profile tr td .company_history {
	padding: 0 0 5px;
	margin: 0 0 10px;
	border-bottom: 1px dotted #E7E7E7;
}
#company .asset-body #company_inquiry {
	text-align: center;
}
#company .asset-body #company_inquiry a {
	padding: 20px;
	text-align: center;
	border: 1px solid #1C65AA;
	border-radius: 2px;
	text-decoration: none;
	font-weight: bold;
}
#company .asset-body #company_inquiry a:hover {
	background: #1C65AA;
	color: #fff;
}


/*------------------------------------------------------------------------------------------------
  inquiry
--------------------------------------------------------------------------------------------------*/
#inquiry {}

#inquiry #index h2 {
	position: relative;
	display: block;
	width: auto;
	height: auto;
	padding: 0 0 10px;
	margin: 20px 0;
	border-bottom: 1px solid #AAAAAA;
	font-size: 26px;
	color: #222;
}
	#inquiry #index .h2_title {
		display: block;
		padding: 20px;
		border-left: 11px solid #3A3A3A;
	}
#inquiry .h3_title {
	display: block;
	padding: 20px;
	margin: 0 0 20px;
	background: #fff;
	border: 1px solid #C9C9CB;
	border-left: 11px solid #3A3A3A;
	font-size: 16px;
	font-weight: bold;
	color: #333;
}

#inquiry .form table {
	width: 100%;
	margin: 10px 0 0;
}

#inquiry .form th,
#inquiry .form td {
	padding: 20px 10px;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid #EEE;
}

#inquiry .form th {
	width: 180px;
	background-color: #EEE;
	border-right:3px solid #5B5B5B;
	border-bottom: 1px solid #EEE;
}

#inquiry .form input[type=text] {
	width: auto;
}

#inquiry .form textarea {
	width: 350px;
}

#inquiry .form .notice {
	font-size: 12px;
	color: #999;
}

#inquiry .form .btn {
	margin: 20px auto;
	text-align: center;
}

#inquiry .form .btn button {
	margin: 0;
	padding: 0;
	border: none;
	background-color: #FFF;
}

#inquiry .error {
	margin: 10px 0 0;
	font-size: 12px;
	color: #FF0000;
}

#inquiry .contactSend {
	margin: 28px 0;
	padding: 40px 0;
	border: 2px solid #E1E1E1;
	background-color: #FDF9E3;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}



/*------------------------------------------------------------------------------------------------
  rental_agree
--------------------------------------------------------------------------------------------------*/
#rental_agree {}

#rental_agree #index h2 {
	position: relative;
	display: block;
	width: auto;
	height: auto;
	padding: 0 0 10px;
	margin: 20px 0;
	border-bottom: 1px solid #AAAAAA;
	font-size: 26px;
	color: #222;
}
	#rental_agree #index .h2_title {
		display: block;
		padding: 20px;
		border-left: 11px solid #3A3A3A;
	}
#rental_agree .h3_title {
	display: block;
	padding: 20px;
	margin: 0 0 20px;
	background: #fff;
	border: 1px solid #C9C9CB;
	border-left: 11px solid #3A3A3A;
	font-size: 16px;
	font-weight: bold;
	color: #333;
}


/*------------------------------------------------------------------------------------------------
  sitemap
--------------------------------------------------------------------------------------------------*/
#sitemap {}

#sitemap #index h2 {
	position: relative;
	display: block;
	width: auto;
	height: auto;
	padding: 0 0 10px;
	margin: 20px 0;
	border-bottom: 1px solid #AAAAAA;
	font-size: 26px;
	color: #222;
}
	#sitemap #index .h2_title {
		display: block;
		padding: 20px;
		border-left: 11px solid #3A3A3A;
	}
#sitemap .h3_title {
	display: block;
	padding: 20px;
	margin: 0 0 20px;
	background: #fff;
	border: 1px solid #C9C9CB;
	border-left: 11px solid #3A3A3A;
	font-size: 16px;
	font-weight: bold;
	color: #333;
}

#sitemap ul.sitemap_list {
	padding: 0;
	list-style: none;
}
	#sitemap ul.sitemap_list li {
		margin: 0;
		border-bottom: 1px dashed #ccc;
	}
		#sitemap ul.sitemap_list li a {
			display: block;
			padding: 15px;
		}
		#sitemap ul.sitemap_list li a:hover {
			background: #1C65AA;
			color: #fff;
			text-decoration: none;
		}
